@use "src/app/(pages)/_globals/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  max-width: 583px;
  max-height: 673px;
  border-radius: 20px;
  background-color: #4f3c83;

  @include mixins.phone {
    width: 358px;
    height: 532px;
  }
}

.term {
  width: 100%;
  font-size: 1.125rem;
}

.image {
  margin-top: 8px;
  border-radius: 8px;

  @include mixins.phone {
    width: 298px;
    height: 150px;
  }
}

.title {
  width: 100%;
  padding-top: 16px;
  margin-top: 32px;
  border-top: 1px solid var(--white);
}

.description {
  width: 100%;
  margin-top: 8px;
}

.button {
  margin-top: 20px;
  width: 100%;
  padding: 20px 0;
  background-color: #625094;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: var(--white);

  @include mixins.tablet {
    font-size: 1.125rem;
  }
}
