@use "src/app/(pages)/_globals/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px 0;
  background: (var(--include-gradient));

  @include mixins.phone {
    padding: 250px 16px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;

  @include mixins.phone {
    align-items: flex-start;
  }
}

.image {
  @include mixins.phone {
    width: 40px;
    height: 40px;
  }
}

.title {
  margin-top: 12px;
}

.description {
  margin-top: 32px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;

  @include mixins.sm-desktop {
    display: flex;
    flex-direction: column;
  }
}

.more {
  margin-top: 32px;
  color: var(--white);
}
