.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px 0;
  background: (var(--include-gradient));
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.title {
  margin-top: 12px;
}

.description {
  margin-top: 32px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}

.more {
  margin-top: 32px;
  color: var(--white);
}
